@model InventarioMVC.Models.ViewModels.CrearProductoViewModel

@{
    ViewBag.Title = "Formulario Base";
    Layout = "_Layout";
}

<section>
    <div  asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col col-sm-5">
            @Html.LabelFor(m => m.NombreProducto, new { @class = "for-label" })
            @Html.TextBoxFor(m => m.NombreProducto, new { @class = "form-control" })
        </div>
        <div class="col col-sm-5">
            @Html.LabelFor(m => m.Clave, new { @class = "for-label" })
            @Html.TextBoxFor(m => m.Clave, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class=col col-sm-5">
            @Html.LabelFor(m => m.TipoProductoSelecionado, new { @class = "for-label" })
            @Html.DropDownListFor(m => m.TipoProductoSelecionado,
                     new SelectList(Model.TipoProductos, "TipoId", "Tipo"), "Todos", new { @class = "form-select" })
        </div>
    </div>
    <div class="row mt-3 justify-content-end">
        <div class=" col-auto">
            <button class="btn btn-outline-primary btn-sm-1" type="submit"><span><i class="bi bi-check"></i></span>Aceptar</button>
        </div>
        <div class=" col-auto">
            <a class="btn btn-outline-warning" asp-controller="Producto" asp-action="Index"><i class="bi bi-exclamation-lg"></i>Cancelar</a>
        </div>
    </div>

</section>